<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Amazon Store</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Shopper Profile </h1>
		<a href="/viewcart" class="btn btn-default btn-sm">Cart   </a>
		<a href="/store" class="btn btn-default btn-sm">Store</a>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Shopper Profile </h3>
					<p>
						<strong>Shopper</strong>: <%= user.local.email %><br>
						<strong>Last Login: </strong>: <%= user.local.lastDate %><br>
						<strong>Today Login: </strong>: <%= user.local.today %><br>
					</p>

			</div>
		</div>

	</div>
	<div class="row">

    		<!-- LOCAL INFORMATION -->
    		<div class="col-sm-6">
    			<div class="well">
    				<h3><span class="fa fa-user"></span> Shopper Orders </h3>
    					<p>
    						<strong>Shopper</strong>: <%= user.local.email %><br>
    						<strong>Last Login: </strong>: <%= user.local.lastDate %><br>
    						<strong>Today Login: </strong>: <%= user.local.today %><br>
    					</p>

    			</div>
    		</div>

    	</div>

</div>
</body>
</html>
